# deps
node_modules/

# local env
*.local

# aider
.aider*

# eslint cache
.eslintcache

# build output
dist/

# this folder can be mapped to `/root/.local/share/copilot-api` inside the container,
# ensuring persistence across restarts, also it contain access tokens,
# which should not be stored on github
/copilot-data/
